{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block toolbar %}
    {% set icon %}
        {{ include('@Doctrine/Collector/icon.svg') }}

        {% set status = collector.getToolbarStatus() %}
            <span class="sf-toolbar-value">
                {% if collector.isHydratorsOverloaded() %}
                    {{ collector.getDoctrineTime() }} ms /
                {% endif %}
                {{ collector.countManagedEntities() }} /
                {{ collector.countLazyLoadedEntities() }}
            </span>
    {% endset %}

    {% set text %}
        <div class="sf-toolbar-info-piece">
            <b>Quer{% if collector.countQueries() > 1 %}ies{% else %}y{% endif %}</b>
            <span class="sf-toolbar-status{% if collector.countQueries() >= collector.getQueriesAlert() %} sf-toolbar-status-red{% endif %}">
                {{ collector.countQueries() }}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Different quer{% if collector.countDifferentQueries() > 1 %}ies{% else %}y{% endif %}</b>
            <span class="sf-toolbar-status">
                {{ collector.countDifferentQueries() }}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Queries time</b>
            <span class="sf-toolbar-status">
                {{ collector.getQueriesTime() }} ms
                {% if collector.isHydratorsOverloaded() %}
                    ({{ collector.getQueriesTimePercent() }}%)
                {% endif %}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Hydration time</b>
            <span class="sf-toolbar-status{% if collector.getHydrationTotalTime() >= collector.getHydrationTimeAlert() %} sf-toolbar-status-red{% endif %}">
                {% if collector.isHydratorsOverloaded() %}
                    {{ collector.getHydrationTotalTime() }} ms
                    ({{ collector.getHydrationTimePercent() }}%)
                {% else %}
                    ?
                {% endif %}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Doctrine time</b>
            <span class="sf-toolbar-status">
                {% if collector.isHydratorsOverloaded() %}
                    {{ collector.getDoctrineTime() }} ms
                {% else %}
                    ?
                {% endif %}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Managed entit{% if collector.countManagedEntities() > 1 %}ies{% else %}y{% endif %}</b>
            <span class="sf-toolbar-status{% if collector.countManagedEntities() >= collector.getManagedEntitiesAlert() %} sf-toolbar-status-red{% endif %}">
                {{ collector.countManagedEntities() }}
            </span>
        </div>
        <div class="sf-toolbar-info-piece">
            <b>Lazy loaded entit{% if collector.countLazyLoadedEntities() > 1 %}ies{% else %}y{% endif %}</b>
            <span class="sf-toolbar-status{% if collector.countLazyLoadedEntities() >= collector.getLazyLoadedEntitiesAlert() %} sf-toolbar-status-red{% endif %}">
                {{ collector.countLazyLoadedEntities() }}
            </span>
        </div>
    {% endset %}

    {{ include('@WebProfiler/Profiler/toolbar_item.html.twig', { link: true }) }}
{% endblock %}


{% block menu %}
    <span class="label{% if collector.countWarnings() > 0 %} label-status-error{% endif %}">
        <span class="icon">{{ include('@Doctrine/Collector/icon.svg') }}</span>
        <strong>Statistics</strong>
        {% if collector.isHydratorsOverloaded() %}
            <span class="count">
                <span>
                    {{ collector.getDoctrineTime() }} ms
                </span>
            </span>
        {% endif %}
    </span>
{% endblock %}

{% block head %}
    {{ parent() }}

    <style type="text/css">
        body {
            cursor: default;
        }

        .metric-yellow {
            background-color: #A46A1F;
            color: white;
        }

        .metric-yellow .label {
            background-color: #77470f;
            color: white;
        }

        .metric-red .label {
            background-color: #721313;
            color: white;
        }

        .metric-disabled {
            background-color: #a8a8a8;
            color: white;
        }

        .metric-disabled .label {
            background-color: #808080;
            color: white;
        }

        .metric-red {
            background-color: #a31f1f;
            color: white;
        }

        .badge {
            padding: 4px 6px;
            font-size: 12px;
            font-weight: bold;
            font-family: Helvetica, Arial, sans-serif;
        }

        pre.highlight {
            margin: 0;
            white-space: pre-wrap;
        }

        .alert-help {
            margin-top: 15px;
            color: white;
            font-weight: bold;
            background-color: #3f83cc;
            padding: 5px;
        }

        .alert-help a,
        .alert-help a:hover,
        .alert-help a:visited {
            color: white;
        }

        tr.hydrated-entities td {
            background-color: #ededed;
        }

        div.indented {
            margin-left: 20px;
        }
    </style>
{% endblock %}

{% block panel %}
    {% import _self as self %}

    <h2>Doctrine statistics</h2>
    <div class="metrics">
        <div class="metric{% if collector.countQueries() >= collector.getQueriesAlert() %} metric-red{% endif %}">
            <span class="value">{{ collector.countQueries() }}</span>
            <span class="label">Queries</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.countDifferentQueries() }}</span>
            <span class="label">Different quer{% if collector.countDifferentQueries() > 1 %}ies{% else %}y{% endif %}</span>
        </div>
        <div class="metric">
            <span class="value">{{ collector.getQueriesTime() }} <span class="text-small">ms</span></span>
            <span class="label">Queries ({{ collector.getQueriesTimePercent() }}%)</span>
        </div>
        {% if collector.isHydratorsOverloaded() == false %}
            {% set panelClass = 'metric-disabled' %}
            {% set hydrationPanelClass = 'metric-disabled' %}
        {% elseif collector.getHydrationTotalTime() >= collector.getHydrationTimeAlert() %}
            {% set panelClass = null %}
            {% set hydrationPanelClass = 'metric-red' %}
        {% else %}
            {% set panelClass = null %}
            {% set hydrationPanelClass = null %}
        {% endif %}
        <div class="metric {{ hydrationPanelClass }}">
            <span class="value">
                {% if collector.isHydratorsOverloaded() %}
                    {{ collector.getHydrationTotalTime() }} <span class="text-small">ms</span>
                {% else %}
                    ?
                {% endif %}
            </span>
            <span class="label">
                {% if collector.isHydratorsOverloaded() %}
                    Hydration ({{ collector.getHydrationTimePercent() }}%)
                {% else %}
                    Hydration (disabled)
                {% endif %}
            </span>
        </div>
        <div class="metric {{ panelClass }}">
            <span class="value">
                {% if collector.isHydratorsOverloaded() %}
                    {{ collector.getDoctrineTime() }} <span class="text-small">ms</span>
                {% else %}
                    ?
                {% endif %}
            </span>
            <span class="label">
                {% if collector.isHydratorsOverloaded() %}
                    Doctrine
                {% else %}
                    Doctrine (disabled)
                {% endif %}
            </span>
        </div>
        <div class="metric{% if collector.countManagedEntities() >= collector.getManagedEntitiesAlert() %} metric-red{% endif %}">
            <span class="value">{{ collector.countManagedEntities() }}</span>
            <span class="label">Managed entities</span>
        </div>
        <div class="metric{% if collector.countLazyLoadedEntities() >= collector.getLazyLoadedEntitiesAlert() %} metric-red{% endif %}">
            <span class="value">{{ collector.countLazyLoadedEntities() }}</span>
            <span class="label">Lazy loaded entit{% if collector.countLazyLoadedEntities() > 1 %}ies{% else %}y{% endif %}</span>
        </div>
    </div>

    {% if collector.isHydratorsOverloaded() == false %}
        <div class="alert-help">
            You can show hydration time and Doctrine time by configuring
            <a href="https://github.com/steevanb/composer-overload-class" target="_blank">steevanb/composer-overload-class</a>
            (<a href="https://github.com/steevanb/doctrine-stats/blob/master/README.md" target="_blank">view how to configure it</a>).
        </div>
    {% endif %}

    <h2>
        {{ collector.getQueriesTime() }} ms,
        {{ collector.countQueries() }} quer{% if collector.countQueries() > 1 %}ies{% else %}y{% endif %},
        {{ collector.countDifferentQueries() }} different{% if collector.countDifferentQueries() > 1 %}s{% endif %}
        {% if collector.isHydratorsOverloaded() %}
            ({{ collector.getQueriesTimePercent() }}%)
        {% endif %}
    </h2>
    <table>
        <thead>
            <tr>
                <th>Count</th>
                <th>Type</th>
                <th>Time</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {% for sql,queries in collector.getQueries() %}
                <tr>
                    <td>
                        <span class="badge{% if queries.data|length >= 10 %} metric-red{% elseif queries.data|length > 1 %} metric-yellow{% endif %}">
                            {{ queries.data|length }}
                        </span>
                    </td>
                    <td class="nowrap">{% apply spaceless %}
                        {% if queries.lazyLoadedEntities|length > 0 %}
                            <span class="badge metric-red">Lazy loading</span>
                        {% else %}
                            Manual
                        {% endif %}
                    {% endapply %}</td>
                    <td class="nowrap">{% apply spaceless %}
                        <img src="http://www.dustball.com/icons/icons/database.png" title="SQL time" /> {{ '%0.2f'|format(queries.queryTime) }}&nbsp;ms ({{ queries.queryTimePercent }}%)<br />
                        <img src="http://www.dustball.com/icons/icons/page_white_php.png" title="Hydration time" /> {{ '%0.2f'|format(queries.hydrationTime) }}&nbsp;ms ({{ queries.hydrationTimePercent }}%)<br />
                        <img src="http://www.dustball.com/icons/icons/time.png" title="Total time" /> {{ '%0.2f'|format(queries.queryTime + queries.hydrationTime) }}&nbsp;ms
                    {% endapply %}</td>
                    <td>
                        <div>{{ sql|doctrine_pretty_query(highlight_only = true) }}</div>

                        <div class="text-small font-normal">
                            <a
                                class="link-inverse sf-toggle"
                                data-toggle-selector="#query-parameters-{{ loop.index }}"
                                data-toggle-alt-content="Hide parameters"
                            >Show parameters</a>

                            {% set countLazyLoadedEntities = 0 %}
                            {% for lazyLoadedEntities in queries.lazyLoadedEntities %}
                                {% set countLazyLoadedEntities = countLazyLoadedEntities + lazyLoadedEntities|length %}
                            {% endfor %}

                            {% if countLazyLoadedEntities > 0 %}
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a
                                    class="link-inverse sf-toggle"
                                    data-toggle-selector="#query-lazy-loaded-entities-{{ loop.index }}"
                                    data-toggle-alt-content="Hide entiti{% if countLazyLoadedEntities == 1 %}y{% else %}es{% endif %}"
                                >Show {{ countLazyLoadedEntities }} entit{% if countLazyLoadedEntities == 1 %}y{% else %}ies{% endif %}</a>
                            {% endif %}

                            {% set queryIndex = loop.index %}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a
                                class="link-inverse sf-toggle"
                                data-toggle-selector="#query-backtraces-{{ queryIndex }}"
                                data-toggle-alt-content="Hide backtraces"
                            >Show backtraces</a>
                            <div id="query-backtraces-{{ queryIndex }}" class="sf-toggle-content sf-toggle-hidden">
                                {% for backtrace in queries.backtraces %}
                                    <a
                                        id="show-backtrace-{{ queryIndex }}-{{ loop.index }}"
                                        class="link-inverse sf-toggle"
                                        data-toggle-selector="#query-backtraces-{{ queryIndex }}-{{ loop.index }}"
                                        data-toggle-alt-content="Hide backtrace #{{ loop.index }}"
                                    >Show backtrace #{{ loop.index }}</a>
                                    {% if not loop.last %}
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div id="query-parameters-{{ loop.index }}" class="sf-toggle-content sf-toggle-hidden">
                                {% for query in queries.data %}
                                    <span class="text-bold">#{{ loop.index }}</span>
                                    {{ query.params|yaml_encode }}
                                    <br />
                                {% endfor %}
                            </div>

                            {% if queries.lazyLoadedEntities|length > 0 %}
                                <div id="query-lazy-loaded-entities-{{ loop.index }}" class="sf-toggle-content sf-toggle-hidden">
                                    {% for lazyLoadedeEntities in queries.lazyLoadedEntities %}
                                        <strong>#{{ loop.index }}</strong>
                                        <div class="indented">
                                            {% for lazyLoadedeEntity in lazyLoadedeEntities %}
                                                {{ self.className(lazyLoadedeEntity) }},
                                                {{ collector.identifiersAsString(lazyLoadedeEntity.identifiers) }}
                                                <br />
                                            {% endfor %}
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% for backtrace in queries.backtraces %}
                                <div id="query-backtraces-{{ queryIndex }}-{{ loop.index }}" class="sf-toggle-content sf-toggle-hidden">
                                    {% if backtrace is null %}
                                        <span class="alert-help">
                                            No backtrace informations available. Set doctrine_stats.query_backtrace to true to enable it.
                                        </span>
                                    {% else %}
                                        {{ backtrace|raw }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if collector.isHydratorsOverloaded() %}
        <h2>
            {{ collector.getHydrationTotalTime() }} ms hydration
            ({{ collector.getHydrationTimePercent() }}%)
        </h2>
        <table>
            <thead>
            <tr>
                <th>Time</th>
                <th>Hydrator</th>
                <th>Entities</th>
            </tr>
            </thead>
            <tbody>
            {% for hydrator,time in collector.getHydrationTimesByHydrator() %}
                {% set countHydratedEntities = collector.countHydratedEntities(hydrator) %}
                <tr>
                    <td>{{ '%0.2f'|format(time) }} ms</td>
                    <td>
                        {{ self.className(collector.explodeClassParts(hydrator)) }}
                        {% if countHydratedEntities > 0 %}
                            <div id="hydrated-entities-{{ loop.index }}" class="sf-toggle-content sf-toggle-hidden">
                                {% for className,identifiers in collector.getHydratedEntities(hydrator) %}
                                    {{ self.className(collector.explodeClassParts(className)) }}[{{ identifiers|length }}]
                                    <br />
                                    {{ self.identifiers(collector, identifiers) }}
                                    <br />
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if countHydratedEntities > 0 %}
                            <a
                                class="link-inverse sf-toggle"
                                data-toggle-selector="#hydrated-entities-{{ loop.index }}"
                                data-toggle-alt-content="Hide hydrated entit{% if countHydratedEntities > 1 %}ies{% else %}y{% endif %}"
                            >
                                Show {{ countHydratedEntities }}
                                entit{% if countHydratedEntities > 1 %}ies{% else %}y{% endif %}
                            </a>
                        {% else %}
                            Unavailable
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>
        {{ collector.countManagedEntities() }}
        managed entit{% if collector.countManagedEntities() > 1 %}ies{% else %}y{% endif %}
    </h2>
    <table>
        <thead>
            <tr>
                <th>Count</th>
                <th>Entity</th>
                <th>Identifiers</th>
            </tr>
        </thead>
        <tbody>
            {% for className, stats in collector.getManagedEntities() %}
                <tr>
                    <td>
                        <span class="badge{% if stats.count >= 10 %} metric-yellow{% endif %}">
                            {{ stats.count }}
                        </span>
                    </td>
                    <td>
                        {{ self.className(collector.explodeClassParts(className)) }}

                        <div id="managed-entities-{{ loop.index }}" class="sf-toggle-content sf-toggle-hidden">
                            {% for id in stats.ids %}
                                {{ id }}
                                {% if not loop.last %}
                                    <br />
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>
                        <a
                            class="link-inverse sf-toggle"
                            data-toggle-selector="#managed-entities-{{ loop.index }}"
                            data-toggle-alt-content="Hide identifier{% if stats.ids|length > 1 %}s{% endif %}"
                        >
                            Show identifier{% if stats.ids|length > 1 %}s{% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>{{ collector.countLazyLoadedEntities() }} lazy loaded entit{% if collector.countLazyLoadedEntities() > 1 %}ies{% else %}y{% endif %}</h2>
    <table>
        <thead>
            <tr>
                <th>Classname</th>
                <th>Identifiers</th>
                <th>Same FQCN</th>
                <th>Associations</th>
            </tr>
        </thead>
        <tbody>
            {% for lazyLoadedEntity in collector.getLazyLoadedEntities() %}
                <tr>
                    <td>
                        <span class="text-muted">{{ lazyLoadedEntity.namespace }}\</span
                        ><span class="text-bold">{{ lazyLoadedEntity.className }}</span>
                    </td>
                    <td>
                        {% for name,value in lazyLoadedEntity.identifiers %}
                            {{ name }}: {{ value }}
                            {% if loop.last == false %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {{ collector.countLazyLoadedClass(lazyLoadedEntity.namespace ~ '\\' ~ lazyLoadedEntity.className) }}
                    </td>
                    <td>
                        <a
                            class="link-inverse sf-toggle"
                            data-toggle-selector="#lazy-loaded-entity-{{ loop.index }}"
                            data-toggle-alt-content="Hide association{% if lazyLoadedEntity.associations|length > 1 %}s{% endif %}"
                        >
                            Show {{ lazyLoadedEntity.associations|length }}
                            association{% if lazyLoadedEntity.associations|length > 1 %}s{% endif %}
                        </a>

                        <div id="lazy-loaded-entity-{{ loop.index }}">
                            {% for association in lazyLoadedEntity.associations %}
                                {{ self.className(association) }}<span class="text-muted">::${{ association.field }}</span>
                                <br />
                            {% endfor %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% macro className(classNameParts) %}
    {% apply spaceless %}
        <span class="text-muted">{{ classNameParts.namespace }}\</span>
        <span class="text-bold">{{ classNameParts.className }}</span>
    {% endapply %}
{% endmacro %}

{% macro identifiers(collector, identifiers, merged = false) %}
    {% if not merged %}
        {% set identifiers = collector.mergeIdentifiers(identifiers) %}
    {% endif %}
    {% for identifier,count in identifiers %}
        {{ identifier }}
        {% if count > 1 %}
            (Loaded {{ count }} times)
        {% endif %}
        {% if loop.last == false %}
            <br />
        {% endif %}
    {% endfor %}
{% endmacro %}
